.selected {
    border: 3px solid lightgreen !important;
    border-radius: 10px;
    
}

.boredDiv {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}

.boredP {
    text-align: center;
    font-size: 50px;
}

h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    pointer-events: none;
    user-select: none;
}


  .slide-in-text {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .slide-in-text.show {
    opacity: 1;
  }
  
  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }