
.homepageHeaderTextContainer {

margin-left: 150px !important;
padding-top: 20px;

}

.homepageButtonContainer {
    flex-wrap: nowrap;
    margin-top: 50px;
    gap: 20px;
    margin-left: 150px;
}



@media(max-width:900px) {
.homepageHeaderTextContainer {
    text-align: center !important;
    margin: 0 auto !important;

}
.homepageMainContainer{
    margin-top:100px !important;
}
.homepageButtonContainer {
    margin-left: 0;
    justify-content: center;
}

}