
.cont {
  display: flex;
  justify-content: center;
 
}

.selectContainer {
  min-height: 100vh;
  margin: 10px;

}

.gameTable {
  
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-radius: 12px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
}
th, td {
  padding: 8px;
  text-align: left;

}
@media (max-width: 768px) {
  table > tbody > tr > td > img {
    width: 50px;
  }
  /* Adjust the font size and layout for smaller screens */
  .gameTable td, .gameTable th {
    font-size: 14px;
    padding: 6px;
    overflow:hidden;
    text-overflow: ellipsis
  }
  .gameTable td:first-child, .gameTable th:first-child {
    width: 30%;
    padding: 4px;
    
  }
}




table > tbody > tr > td > img {
  width: 100px;
  height: 50px;
  float: left;
  border-radius: 10px;
}
table > tbody > tr > td {
  border-bottom: 1px solid black;
  padding: 10px;
}
table > tbody > tr:hover {
  opacity: 0.5;
  cursor: pointer;
}

.sorting-section {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content:center;
  gap:50px;

}



