.cont {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.gameTable {
  table-layout: fixed;
  width: 75%;
  text-align: center;

  background-image: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
}

table > tbody > tr > td > img {
  width: 100px;
  height: 50px;
  float: left;
}

.sorting-section {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
  width: 50%;
}

.sorting-section > select {
  background-color: transparent;
  border: none;
  color: white;
}
.sorting-section > select > option {
  background-color: black;
}
.sorting-section > select > option:checked {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: black;
}
